body{
	font-family:Tahoma;
}

body p{
	font-size:18px;
	line-height:32px;
	color: #413F3F;
}
.btns{
	background:#0D5E8B;
}

.cabeza{
	background:#0D5E8B;
	margin-bottom:50px; 
}

#pie{
	background:#0D5E8B;
}
.ico{
	margin: 20px;
	font-size:24px;
	padding:24px;
	width:75px;
	height:70px;
	border-radius:50%;
	background:#111B4B;
}

.iconos a{
	text-decoration:none;
	color:#FFFFFF; 
}



article{
	position:relative;
	width:100%;
	overflow: hidden;
}

article:hover .img-responsive{
	transform:scale(1.5);
	transition:all 0.5s ease-out; 
}

.img-responsive{
	width: 100%;
	height:400px;
	display: block;
	transition:all 0.5s ease-out; 
}


.img-auto{
	position: relative;
	width:120px;
	float: right;
}

.cont-article{
	position: absolute;
	background: #5C5455;
	background:rgba(0, 0, 0, 0.5); 
	top:0;
	width:100%;
	height:30%;
	padding: 5px;
	display: block;
	
}
.cont-article h3{
	color: #FFFFFF;
	padding:5px; 
	font-weight:bold;
	text-transform: uppercase;
	margin-bottom:-5px;
}

.cont-article p{
	color: #FFFFFF;
}


main h5{
	font-size: 18px;
}


main img{
	width: 100%;
	height:200px;
}

.precio{
	font-size: 32px;
}

.cont-main{
	box-shadow:1px 1px 10px #000;
	transition:all 300ms;
}

th, td{
	font-size:24px;
}

.img-logo{
	width: 300px;
	height: 150px;
	margin-top: -50px;
}

footer p{
	color: #FFFFFF;
	font-weight: normal;
}

.vineta{
	margin-left: 10px;
	font-size:18px;
	line-height:32px;
	color: #413F3F;
}

.buen{
 list-style-image: url(../img/vineta.png);
	margin-bottom: 10px;
}

#menu{
	display: block;
}

.despre{
		transition:all 300ms;
		display:none;
		position: relative;
	}

.despre-click{
		top:-15%;
		display: block;
		transition:all 300ms;
	}




.contact-form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.contact-form label {
  color: black;
}

.contact-form .heading {
  font-size: 24px;
  color: black;
  ;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 80px;
  width: 200px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #ff6384;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: #ff6384;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.contact-form {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 10px;
  }
  
  .contact-form label {
	color: black;
  }
  
  .contact-form .heading {
	font-size: 24px;
	color: black;
	;
	margin-bottom: 12px;
	font-weight: bold;
	display: block;
  }
  
  .contact-form form {
	display: flex;
	flex-direction: column;
  }
  
  .contact-form label {
	margin-bottom: 10px;
  }
  
  textarea {
	resize: none;
	height: 80px;
	width: 100%;
  }
  
  .contact-form input, .contact-form textarea {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
  }
  
  .contact-form input:focus, .contact-form textarea:focus {
	outline: none;
	box-shadow: 0 0 5px #ff6384;
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
  }
  
  .contact-form button[type="submit"] {
	background-color: #ff6384;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
  }
  
  .contact-form button[type="submit"]:hover {
	transform: scale(1.1);
	transition: transform 0.3s ease-in-out;
  }
  